@import url('https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');
:root {
  --main-black: #292929;
}

* {
  font-family: 'Noto Sans KR';
}

html,
body {
  margin: 0;
  font-size: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f9fafb;
  color: #111827;
}
