@import url('https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');
@import '@/assets/tailwind.css';
@import '@mdi/font/css/materialdesignicons.css';
@import 'vue3-perfect-scrollbar/style.css';
html {
  overflow-y: auto;
}

.v-application__wrap {
  background-color: rgba(var(--v-theme-background));
}

.v-main {
  /* min-height: 100vh; */
  padding-left: calc(var(--v-layout-left) + 20px) !important;
}

.v-application {
  background: transparent;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (min-width: 1300px) {
  .maxWidth {
    max-width: 1300px;
    margin: 0 auto;
  }
}
.fixed-width {
  max-width: 1300px;
}

.right-pos-img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .v-toolbar__content {
    justify-content: space-between;
  }
  .v-toolbar__content > .v-btn:last-child {
    margin-inline-end: 0px !important;
  }
}
.v-card--variant-outlined {
  border-color: rgba(var(--v-theme-borderColor)) !important;
}

.v-card--variant-elevated,
.v-card--variant-flat {
  color: rgb(var(--v-theme-textPrimary));
}

.card-hover {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.card-hover:hover {
  scale: 1.01;
  transition: all 0.1s ease-in 0s;
}

.v-card {
  width: 100%;
  overflow: hidden;
  z-index: 1 !important;
}
.v-card .color-inherits {
  color: inherit;
}
.v-card .feature-card .v-responsive__content {
  height: 100%;
}
.v-card .v-timeline-divider__before,
.v-card .v-timeline-divider__after {
  background: rgba(var(--v-border-color), 1);
}

.cardBordered .v-card {
  box-shadow: none !important;
  border: 1px solid rgb(var(--v-theme-borderColor));
}

.elevation-o-card .v-card-item {
  padding: 0.625rem 1rem;
}

.v-table .v-table__wrapper > table > thead > tr:last-child > th {
  font-weight: 600;
}

.v-table > .v-table__wrapper > table > tbody > tr > th,
.v-table > .v-table__wrapper > table > thead > tr > th {
  font-weight: 600;
  padding: 0 12px;
}

.border-table .v-table .v-table__wrapper > table > tbody > tr:not(:last-child) > td,
.border-table .v-table .v-table__wrapper > table > tbody > tr:not(:last-child) > th,
.border-table .v-table .v-table__wrapper > table > thead > tr:last-child > th {
  border-bottom: thin solid rgba(var(--v-border-color), 1) !important;
}
.border-table .v-table .v-table__wrapper > table > tbody > tr > td {
  padding: 12px;
}
.border-table .v-table .v-table__wrapper > table > thead > tr:last-child > th {
  font-weight: 600;
  color: inherit !important;
}

.v-table.v-theme--dark {
  background: rgb(var(--v-theme-darkbg));
  color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
}

.vertical-table .v-table {
  border: thin solid rgba(var(--v-border-color), 1) !important;
  border-top: 0 !important;
}
.vertical-table .v-table .v-table__wrapper > table > tbody > tr > td,
.vertical-table .v-table .v-table__wrapper > table > tbody > tr:not(:last-child) > th {
  border-top: thin solid rgba(var(--v-border-color), 1) !important;
}
.vertical-table .v-table .v-table__wrapper > table > tbody > tr > td {
  font-weight: 400;
}
.vertical-table .v-table > .v-table__wrapper > table > tbody > tr > th {
  border-right: thin solid rgba(var(--v-border-color), 1) !important;
}

.border-all-table .v-table .v-table__wrapper > table > tbody > tr > td,
.border-all-table .v-table .v-table__wrapper > table > tbody > tr > th,
.border-all-table .v-table .v-table__wrapper > table > thead > tr:last-child > th {
  border: thin solid rgba(var(--v-border-color), 1) !important;
}
.border-all-table .v-table .v-table__wrapper > table > tbody > tr > td {
  padding: 12px;
}
.border-all-table .v-table .v-table__wrapper > table > thead > tr:last-child > th {
  font-weight: 600;
  color: inherit !important;
}
.border-all-table .v-table .v-table__wrapper > table > tbody > tr:nth-of-type(odd) > * {
  background-color: rgba(var(--v-theme-lightsecondary), 0.5);
}

.v-data-table th.v-data-table__th {
  font-size: 16px;
  color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity));
}
.v-data-table td.v-data-table__td {
  font-size: 14px;
  text-wrap: nowrap;
}
.v-data-table .v-data-table-footer {
  padding: 15px 8px;
}
.v-data-table .v-data-table-header__sort-badge {
  background-color: rgb(var(--v-theme-borderColor)) !important;
}
.v-data-table .tdhead {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .v-data-table-footer {
    justify-content: center;
  }
}
.vue3-easy-data-table {
  /* border: none !important; */
}

.vue3-easy-data-table__header tr {
  font-size: 16px !important;
  font-weight: 600 !important;
}

.vue3-easy-data-table__body td,
.vue3-easy-data-table__header th {
  border-bottom: thin solid rgba(var(--v-border-color), 1) !important;
}

.easy-checkbox label::before {
  width: 16px !important;
  height: 16px !important;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  border-radius: 3px !important;
}
.easy-checkbox label::after {
  width: 10px !important;
  height: 4px !important;
}

.crud-tbl .v-toolbar {
  background: transparent;
}
.crud-tbl .v-toolbar .v-toolbar__content {
  border-radius: 7px;
}
